.product-card {
    margin-left: 13px;
    flex-basis: calc(33.33% - 10px);
    height: fit-content;
    max-width: 300px;
    padding: 15px 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #fff;
    border: 1px solid rgb(45, 44, 44);
    border-radius: 10px;
    /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3); */
}

.image-container {
    min-height: 180px;
    position: relative;
    overflow: hidden;
}

.prod-img {
    width: 280px;
    height: 180px;
    border-radius: 10px;
}

.opacity-0 {
    opacity: 0;
}

.opacity-1 {
    opacity: 1;
}

.skeleton-loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;

    background: #f0f0f0;
    /* Linear gradient creates the "shine" bar */
    background-image: linear-gradient(
        to right,
        #f0f0f0 0%,
        #e0e0e0 20%,
        #f0f0f0 40%,
        #f0f0f0 100%
    );
    background-repeat: no-repeat;
    background-size: 200% 100%; 
    animation: shimmer 1.5s infinite linear;
}

.prod-name {
    font-weight: 600;
    font-size: medium;
}

.prod-desc {
    font-weight: 200;
    font-size: small;
}

.prod-price {
    font-weight: bold;
}

.price-in-stock {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.prod-status {
    padding: 4px;
    font-size: small;
}

.prod-counter {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.prod-counter > button {
    background: rgb(45, 44, 44);
    color: #fff;
}

.disabled {
    color: #6c757d;
    background-color: #f8f9fa;
    border-color: #dee2e6;
    pointer-events: none;
    opacity: 0.6;
}

.disabled:hover {
    cursor: default;
}

.in-stock {
    background-color: green;
    color: #fff;
    border-radius: 5px;
}

.out-of-stock {
    background-color: red;
    color:#fff;
    border-radius: 5px;
}

.adding-container {
    display: flex;
    align-items: center;
    gap: 5px;
}

.view-product {
    text-decoration: none;
    background-color: transparent;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 8px;
    text-align: center;
    color: #000;
}

.view-product:hover {
    background-color: #000;
    border: none;
    color: #fff;
}

.spinner {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 5px solid #e0e0e0;
    border-top-color: #4f46e5;

    animation: spin 1s linear infinite;
}

@keyframes shimmer {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}


@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
