.product-details-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 50px;
}

.img-container {
    border: 1px solid #000;
    padding: 10px;
    border-radius: 5px;
    height: fit-content;
}

.product-image {
    width: 400px;
    height: 300px;
    border-radius: 10px;
}

.prod-name_continue-shopping{
    display: flex;
    align-items: center;
    gap: 50px;
}

.prod-name_continue-shopping > h2 {
    font-size: medium;
}

.info {
    color: rgb(230, 107, 12);
}

.danger {
    color: red;
}

.add-to-cart {
    display: flex;
    align-items: center;
    gap: 10px;
}

.to-cart {
    background-color: #000;
    color: #fff;
}

.product-details {
    display: flex;
    flex-direction: column;
    max-width: 600px;
}

.price, .add-to-cart, .description {
    margin-top: 10px;
}

.description {
    line-height: 20px;
    font-weight: 300;
}

.disabled {
    color: #6c757d;
    background-color: #f8f9fa;
    border-color: #dee2e6;
    pointer-events: none;
    opacity: 0.6;
}

.disabled:hover {
    cursor: default;
}